<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="" method="post">
    <!-- CSRF token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <!-- Form fields -->
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </p>
    <!-- Submit button -->
    <button type="submit">Login</button>
    <button onclick="location.href='{% url 'register:webapps2023/home.html' %}'">Back</button>
</form>

{% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}

{% comment %} <script>
    {% if user.is_authenticated %}
    <a href="{% url 'register:webapps2023/UserProfile.html' %}">User Profile</a>
    {% endif %}
</script> {% endcomment %}
</body>
</html>
