<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h2>Sign Up</h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if validateError %}
    {{validateForm}}
    <a href="/signup">Back</a>
{% else %}
<form method="post" action="/signup/ ">
    {% csrf_token %}
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1">
    </p>
    <p>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2">
    </p>
    <button type="submit">Sign Up</button>
    <a href="{% url 'register:webapps2023/home.html' %}">Back</a>
</form>
{% endif %}
</body>
</html>
